.cookie-wrap {
	bottom: -330px;
	// bottom: 24px;
	transition: 0.5s cubic-bezier(0.6, -0.05, 0.1, 0.99);
	width: calc(100% - 30px);
	max-width: 460px;
	&.active {
		bottom: 24px;
	}
	&.use-cookie {
		bottom: -330px !important;
	}
}
