html,
body {
	min-height: 100%;
	font-family: 'roboto', 'NotoSansKR';
	@apply text-gray-800;
}

input:checked ~ .dot {
	transform: translateX(100%);
	// @apply bg-black;
}

.word-break-keep-all {
	word-break: keep-all;
}

.container {
	max-width: 1280px;
}

.post,
.page {
	margin-bottom: 0;
}

.br-remove {
	br {
		@apply hidden;
		@screen md {
			@apply block;
		}
	}
}

.br-add {
	br {
		@apply block;
		@screen md {
			@apply hidden;
		}
	}
}

.gs-dev-tools {
	z-index: 10000;
}
