@font-face {
	font-family: 'elandChoice';
	font-weight: 500;
	font-style: normal;
	src: url('/assets/src/fonts/ELANDChoiceB.woff2') format('woff2'),
		url('/assets/src/fonts/ELANDChoiceB.woff') format('woff');
}

@font-face {
	font-family: 'elandChoice';
	font-weight: 300;
	font-style: normal;
	src: url('/assets/src/fonts/ELANDChoiceL.woff2') format('woff2'),
		url('/assets/src/fonts/ELANDChoiceL.woff') format('woff');
}

@font-face {
	font-family: 'elandChoice';
	font-weight: 400;
	font-style: normal;
	src: url('/assets/src/fonts/ELANDChoiceM.woff2') format('woff2'),
		url('/assets/src/fonts/ELANDChoiceM.woff') format('woff');
}
